<%- include("partials/header1.ejs") %>

<div class="nav">

    <img src="/images/alarm.png" />
    <h1 class="pacifico-regular">Productive   Life</h1>
    <a href="/" class="lilita-one-regular">Home</a>
    <a href="/login" class="lilita-one-regular">Login</a>
    <a href="/register" class="lilita-one-regular">Register</a>
    <a href="/tasks" class="lilita-one-regular">Tasks</a>
</div>
<div class="quotes" data-aos="fade-out" data-aos-duration="10000">
    <img src="/images/sakura-leaves.gif" class="animate"/>
    <img class="blink" src="/images/motivation-removebg-preview.png"/>
    <p class="lobster-regular">"The pen is mightier than the sword." And it's true words can hold a lot of power. They can uplift and inspire others to tackle the challenges and hardships in their lives, they can break a person slowly over time or deliver instant heartache with a simple sentence."</p>
    <img src="/images/sakura-leaves.gif" class="animate1"/>
</div>
<div class="quote1" data-aos="fade-in" data-aos-duration="10000">
    <img src="/images/sakura-leaves.gif" class="animate2"/>
    <img src="/images/gift.png" class="blink1"/>
    <p class="lobster-regular1">One person has lots of money but barely spends any of it and in turn has a boring life without many good experiences, while others live paycheck to paycheck spending all of it and more while worrying about the future every single day of their lives.If you 50/50 save vs spend you can't really go wrong because tomorrow isn't guaranteed for any of us but we could also live until 100 and have be homeless if we spent all our money</p>
    <img src="/images/sakura-leaves.gif" class="animate3"/>
</div>
<div class="quote2" data-aos="fade-in" data-aos-duration="10000">
    <img src="/images/sakura-leaves.gif" class="animate4"/>
    <img src="/images/knowledge.png" class="blink3">
    <p class="lobster-regular2">Knowledge is understanding and awareness of something. It refers to the information, facts, skills, and wisdom acquired through learning and experiences in life. Knowledge is a very wide concept and has no end. Acquiring knowledge involves cognitive processes, communication, perception, and logic.</p>
    <img src="/images/sakura-leaves.gif" class="animate5"/>
</div>
<div class="container">
    <div class="text1">
        <h2 data-aos="fade-up">The key is in not spending time, but in investing it." -- Stephen R</h2>
        <p class="museomoderno" data-aos="fade-up">The highest achievers manage their time exceptionally well. And by using Mind Tools' back into bad time-management habits.</p>

    </div>
    <div class="img-block">
        <img src="/images/img_block5-2.jpg" class="blocks" data-aos="fade-left"/> 
        <img src="/images/images__1_-removebg-preview (1).png" class="block1" data-aos="fade-up"/>

    </div>

</div>
<div class="container1">
    <img src="/images/cat-removebg-preview.png" class="union" data-aos="fade-down"/>
    <h1 class="jersey-25-regular" data-aos="fade-up">More Interesting to Know ?</h1>
    <h1 class="jersey-25-regular1" data-aos="fade-up">Join Us</h1>
</div>
</div>
<%- include("partials/footer.ejs") %>