  <%- include("partials/header.ejs") %>
  
  <h1>Login</h1>
  <form action="/submit" method="POST">
    <label for="username">Email:</label><br>
    <input type="text" id="username" name="username" required style="background-color: rgba(0,0,0,0.1);"><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password" required style="background-color: rgba(0,0,0,0.1);"><br>
    <input type="submit" value="Login">
    <a class="link" href="/register"><p>Don't have an account ? Register Here</p></a>
    
  </form> 





